*{
    background-color: rgb(73, 71, 69);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}



h1
{
    color:pink;
    font-weight:bold;
    font-size: 50;
    text-align: center;
   

}


a:link, a:visited {
    background-color: white;
    color: rgb(226, 122, 139);
    border: 2px solid  rgba(57, 34, 14, 0.697);
    padding: 10px 20px;
    text-align: center; /* To center the text within the link */
    text-decoration: none;
    display:block;
    margin: 0 auto; /* To center the entire link */
  }
  
  a:hover, a:active {
    background-color: rgba(57, 34, 14, 0.697);
    color: white;
    
  }



    img {
        margin-left: auto;
        margin-right: auto;
        display:block;
        
    
      }


      h4 ,
      h3,p {
        text-align: center;
        color:white;

      }

      ul,ol,p {
        color: rgb(226, 122, 139);
      }